<section id="cs-content">
  <div class="container">

    <h1 class="cs-title">
      {{title}}
      <small>{{subtitle}}</small>
    </h1>

    <div class="row">

      <div class="col-md-4">
        <p class="cs-intro">{{intro}}</p>

        {{#with cta}}
          <p class="cs-cta"><a href="{{url}}">{{value}}</a></p>
        {{/with}}
      </div>

      <div class="col-md-offset-1 col-md-7">

        <div class="cs-content">
          {{{content}}}
        </div>

      </div>

    </div>

    <div class="cs-skills">
      <h2>What we did</h2>

      <ul>
        {{#each skills}}
        <li class="cs-skill">{{this}}</li>
        {{/each}}
      </ul>
    </div>

  </div>
</section>
